/* ========================= layout ======================== */
body {
	background: url('imagens/testecapa3.jpg');
	font-family: Helvetica,Arial,sans-serif;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

}

.capa {
	margin-top: 100px;
}

.texto-capa {
	text-align: center;
}

.texto-capa>h1 {
	font-weight: bold;
}

.fa {
	color: white;
	margin-right: 25px;
}

nav.navbar-azul {
	padding-top: 5px;
	background: rgb(51, 122, 183);
	border: none;
}

.navbar-inverse .navbar-nav>li>a, footer .nav a {
	color: white;
	padding-top: 15px;
}

.navbar-inverse .navbar-nav>li>a:hover, footer .nav a:hover {
	color: #9bf0e1;

}

/* -- Botoes -- */
.btn-custom {
  text-transform: uppercase;
	margin: 15px;
}

.btn-roxo {
	background: #7c25f8;
	color: white;
}

.btn-roxo:hover {
	color: white;
}

.btn-amarelo {
	background: rgb(247, 229, 61);
	color: black;
}
